<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entity1">
            <h2><span jhiTranslate="aladinApp.entity1.detail.title">Entity 1</span> {{entity1.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aladinApp.entity1.name">Name</span></dt>
                <dd>
                    <span>{{entity1.name}}</span>
                </dd>
                <dt><span jhiTranslate="aladinApp.entity1.price">Price</span></dt>
                <dd>
                    <span>{{entity1.price}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entity-1', entity1.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
